{% extends 'foundation.html' %}
{% load widget_tweaks %}
{% block body %}
<body class="login-page" style="min-height: 512.8px;">
    <div class="login-box">
      <div class="login-logo">
        <b>CRS Kenya-Somalia Travel Tracker</b>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Sign in</p>
    
          <form action="" method="post">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            <div class="input-group mb-3">
                {% render_field form.username class="form-control" placeholder="Username"%}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fa fa-user-circle"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
                {% render_field form.password class="form-control" placeholder="Password" %}
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            {% if form.errors %}
              <div class="input-group mb-3">
                <span>
                  <p class="text-danger">
                      Your username and password didn't match. 
                      Please try again.
                  </p>
                </span>
              </div>
            {% endif %}
            
            <div class="row">
              <div class="col-4 offset-8 mb-3">
                <button type="submit" class="btn btn-theme-primary btn-block">Sign In</button>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
            <p class="text-center">OR</p>
            <div class="row">
              <div class="col-12 mb-3">
                <a href="{% url 'django_auth_adfs:login' %}" class="btn btn-theme-primary btn-block">Sign Sign on</a>
              </div>
            </div>
          </form>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->

{% endblock body %}
