{% extends "base.html" %}

{% block content %}
{{request.session.trip}}
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="card card-primary">
        <form class="" method="POST">
            <div class="card-body"> 
                <div class="row">
                    {% include 'render_form.html' %}
                    <button class="form-control btn-secondary" type="submit">{{page_title}}</button>
                </div> 
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block custom_scripts %}
{{ form.media }}
{% endblock custom_scripts %}