{% extends "base.html" %}

{% block content %}
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="card">
        <div class="card-header text-center">
            <h3 card-title>Trip Approval</h3>
        </div>
        <div class="card-primary card-body">
            <dl class="row">
                <dt class="col-6 text-right">Trip</dt>
                <dd class="col-6">{{trip_approval.trip.trip_name}}</dd>
                <dt class="col-6 text-right">Traveler</dt>
                <dd class="col-6">{{trip_approval.trip.traveler.user_account.first_name}}&nbsp;{{trip_approval.trip.traveler.user_account.last_name}}</dd>
                <dt class="col-6 text-right">Start date</dt>
                <dd class="col-6">{{trip_approval.trip.start_date}}</dd>
                <dt class="col-6 text-right">End date</dt>
                <dd class="col-6">{{trip_approval.trip.end_date}}</dd>
                <dt class="col-6 text-right">Type of travel</dt>
                <dd class="col-6">{{trip_approval.trip.type_of_travel}}</dd>
                <dt class="col-6 text-right">Category of Travel</dt>
                <dd class="col-6">{{trip_approval.trip.category_of_travel}}</dd>
                <dt class="col-6 text-right">Reason for Travel</dt>
                <dd class="col-6">{{trip_approval.trip.reason_for_travel}}</dd>
                <dt class="col-6 text-right">Is trip mission critical?</dt>
                <dd class="col-6">{% if trip_approval.trip.is_mission_critical %} Yes {% else %} No {% endif %}</dd>
            </dl>
            <form class="" method="POST">
                <div class="card-body"> 
                    <div class="row">
                        {% include 'render_form.html' %}
                        <button class="form-control btn-secondary" type="submit">Submit</button>
                    </div> 
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}