{% extends 'base.html' %}
{% block content %}
{% if messages %}
<div class="col-12">
  {% for message in messages %}
  <div class="alert text-center {% if message.tags == 'error' %}alert-danger{%else%}alert-{{message.tags}}{%endif%} alert-dismissible fade show">
    <h6>
      {{message}}
    </h6>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
</div>
{%endif %}
<div class="col-md-5 col-lg-4">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">
            {{trip.trip_name}} Trip Details
        </h2>
        {% if request.user == trip.traveler.user_account %}
        {% endif %}
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-6">Start date</dt>
          <dd class="col-sm-6 text-right">{{trip.start_date}}</dd>
          <dt class="col-sm-6">End date</dt>
          <dd class="col-sm-6 text-right">{{trip.end_date}}</dd>
          <dt class="col-sm-6">Type of travel</dt>
          <dd class="col-sm-6 text-right">{{trip.type_of_travel}}</dd>
          <dt class="col-sm-6">Category of Travel</dt>
          <dd class="col-sm-6 text-right">{{trip.category_of_travel}}</dd>
          <dt class="col-sm-6">Reason for Travel</dt>
          <dd class="col-sm-6 text-right">{{trip.reason_for_travel}}</dd>
          <dt class="col-sm-6">Trip Security Level</dt>
          <dd class="col-sm-6 text-right">{{trip.security_level}}</dd>
          <dt class="col-sm-6">Start date</dt>
          <dd class="col-sm-6 text-right">{{trip.start_date}}</dd>
          <dt class="col-sm-6">Is trip mission critical?</dt>
          <dd class="col-sm-6 text-right">{% if trip.is_mission_critical %} Yes {% else %} No {% endif %}</dd>
          {% if poet_details %}
            {% for detail in poet_details %}
            <dt class="col-sm-6">POET details</dt>
            <dd class="col-sm-6 text-right">{{detail.project}}&nbsp;-&nbsp;{{detail.task}}&nbsp;<a href="{% url 'update_poet' trip_id=detail.trip.id poet_id=detail.id %}"><u>edit</u></a></dd>
            {% endfor %}
          {% endif %}
        </dl>
        {% if poet_details %}
        <span class="float-right">
          <a href="{% url 'add_poet' trip_id=trip.id %}" class="col-sm-8 col-sm-offset-4 text-right"><u>Add more POET Details</u></a>
        </span><br><br>
        {% endif %}
        <span class="float-right">
          <a href="{% url 'u_update_trip' trip_id=trip.id %}" class="btn btn-outline-primary right">Change Trip Details</a>
        </span>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
          {% if approval_status == "Approved" %}
          <p>Your trip is approved. <i class="fa fa-smile-o" aria-hidden="true"></i></p>
          {% elif approval_status == "Not requested" %}
            {% if request.user == trip.traveler.user_account %}
              {% if itinerary and poet_details %}
              <p>Happy with the trip details?</p>
              <form action="" method="POST">
              {% csrf_token %}
              {{ form }}
                <button type="submit" class="btn btn-outline-primary float-right">Submit trip for approval</button>
              </form>
              {% elif poet_details %}
              <a href="{% url 'u_create_trip_itinerary' trip_id=trip.id %}" class="btn btn-outline-primary float-left">Now add your itinerary</a>
              {% else %}
              <a href="{% url 'u_create_trip_itinerary' trip_id=trip.id %}" class="btn btn-outline-primary float-left">Add your Itinerary</a>
              <a href="{% url 'add_poet' trip_id=trip.id %}" class="btn btn-outline-primary float-right">Add POET Details</a>
              {% endif %}
            {% endif %}
            {% else %}
            <p>{{approval_status}}</p>
          {% endif %}
      </div>
    </div>
    <!-- /.card -->
  </div>
  {% if itinerary %}
  <div class="col-md-7 col-lg-8">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Trip Itinerary
                </h3>
                {% if request.user == trip.traveler.user_account %}
                <span class="float-right">
                    <a href="{% url 'u_create_trip_itinerary' trip_id=trip.id %}" class="btn btn-outline-primary right">Add a trip leg</a>
                </span>
                {% endif %}
            </div>
            <!-- /.card-header-->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Leg</th>
                      <th>Mode of Travel</th>
                      <th>Date of departure</th>
                      <th>Time of departure</th>
                      <th>Leg status</th>
                      <th>Comment</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for leg in itinerary %}
                    <tr>
                        <td>{{leg.city_of_departure}} - {{leg.destination}}<a href="{% url 'u_update_trip_itinerary' leg_id=leg.id %}">&nbsp;&nbsp;edit Leg</a></td>
                        <td>{{leg.mode_of_travel}}</td>
                        <td>{{leg.date_of_departure}}</td>
                        <td>{{leg.time_of_departure}}</td>
                        <td>{{leg.leg_status}}</td>
                        <td>{% if leg.comment %}{{leg.comment}}{% else %}&nbsp;----------&nbsp;{% endif %}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
        </div> 
  </div>
  <!-- /.card -->
  {% endif %}

{% endblock content %}