{% extends 'base.html' %}

{% block custom_styles %}
<style>
.error-div {
    margin-top: 30%;
}
.btn {
    margin: 3px
}
</style>
{% endblock custom_styles %}

{% block content %}
<body class="error">
    <div class="container">
        <div class="row justify-content-xl-center">
            <div class="error-div col-sm-12 col-md-12 col-lg-8 col-xl-8 text-center">
                <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Permission Denied.</h3>

                <p>
                You lack the necessary rights to access this page.
                You are logged in as <b>{{ request.user.first_name }} {{ request.user.last_name }}</b>.
                </p>
                <p>
                You can:
                </p>

                <span>
                    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">Go back to the previous page</a>
                </span><br/><br/>
                <p> or </p>
                <p>
                    if you believe that you should have the access, contact IT for support.
                </p>
            </div>
        </div>
</div>
{% endblock content %}