{% load widget_tweaks %}
{% csrf_token %}
{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}
{% for field in form.visible_fields %}
{% if field.errors %}
    <div class="col-sm-12 col-md-6 col-lg-6 col-xs-6">
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field | add_class:"form-control is-invalid" }}
            {% for error in field.errors %}
            <div class="invalid-feedback" style="display: block;">{{ error }}</div>
            {% endfor %}
        </div>
        
    </div>
 {% else %}
    <div class="col-sm-12 col-md-6 col-lg-6 col-xs-6">
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field | add_class:"form-control" }}
        </div>
    </div>
{% endif %}
{% endfor %}