{% extends "base.html" %}

{% block content %}
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="card card-primary">
        <form class="" method="POST">
            <div class="card-body">
                <div class="row"> 
                    {% include 'render_form.html' %}
                    <div class="col-12">
                        <a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-danger float-left">Cancel</a>
                        <button class="btn btn-outline-primary float-right" type="submit">Save Country</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block custom_scripts %}
<script>
    $(document).ready(function() {
    $('select').select2();
});
</script>
{% endblock custom_scripts %}