{% extends 'base.html' %}
{% block content %}

<div class="col-md-6">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">
        {{department.department}} Department
      </h3>
      <span class="float-right">
        <a href="{% url 'u_edit_department' department_id=department.id %}" class="btn btn-theme-primary right">Edit Department</a>
      </span>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-4">Name</dt>
        <dd class="col-sm-8">{{department.department}}</dd>
        <dt class="col-sm-4">Description</dt>
        <dd class="col-sm-8"> {{department.description}}</dd>
        <dt class="col-sm-4">Security Level 1 Approver</dt>
        <dd class="col-sm-8"> {{department.trip_approver.first_name}} {{department.security_level_1_approver}}</dd>
        <dt class="col-sm-4"> Security Level 2 Approver</dt>
        <dd class="col-sm-8"> {{department.trip_approver.first_name}} {{department.security_level_2_approver}}</dd>
        </dd>
      </dl>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
{% endblock content %}