{% extends "base.html" %}

{% block custom_styles %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
{% endblock custom_styles %}
{% block content %}
<div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Departments</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover" id="users-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Department</th>
              <th>Nationality</th>
              <th>Contact Telephone</th>
              <th>Contact Email</th>
              <th>Line Manager</th>
              <th>Trip Approver</th>
            </tr>
          </thead>
          <tbody>
            {% for traveler in travelers %}
            <tr>
              <td><a href="{% url 'u_traveler_details' traveler_id=traveler.id %}">{{traveler.user_account.first_name}}&nbsp;{{traveler.user_account.last_name}}</a></td>
              <td>{{traveler.department}}</td>
              <td>{{traveler.nationality}}</td>
              <td>{{traveler.contact_telephone}}</td>
              <td>{{traveler.user_account.email}}</td>
              <td>{{traveler.is_managed_by}}</td>
              {% if traveler.department.approver %}
              <td>{{traveler.department.approver}}</td>
              {% elif traveler.trip_approver %}
              <td>{{traveler.trip_approver}}</td>
              {% else %}
              <td>No approver set</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  {% endblock content %}

  {% block custom_scripts %}
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script>
    $(document).ready( function () {
      $('#users-table').DataTable();
    });
  </script>
  {% endblock custom_scripts %}
  