{% extends "base.html" %}

{% block content %}
<div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Departments</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>Name</th>
              <th>Date of Birth</th>
              <th>Department</th>
              <th>Type of Traveler</th>
              <th>Nationality</th>
              <th>Is Dependant of</th>
              <th>Country of duty / residence</th>
              <th>Contact Telephone</th>
              <th>Contact Email</th>
              <th>Line Manager</th>
            </tr>
          </thead>
          <tbody>
            {% for traveler in travelers %}
            <tr>
              <td><a href="{% url 'u_traveler_details' traveler_id=traveler.id %}">{{traveler.last_name}}, {{traveler.first_name}}</a></td>
              <td>{{traveler.date_of_birth}}</td>
              <td>{{traveler.department}}</td>
              <td>{{traveler.type_of_traveler}}</td>
              <td>{{traveler.nationality}}</td>
              <td>{{traveler.is_dependant_of}}</td>
              <td>{{traveler.country_of_duty}}</td>
              <td>{{traveler.contact_telephone}}</td>
              <td>{{traveler.contact_email}}</td>
              <td>{{traveler.is_managed_by}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  {% endblock content %}
  