{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
            {{traveler.last_name}}, {{traveler.first_name}}
        </h4>
        <span class="float-right">
          <a href="{% url 'u_edit_traveler' traveler_id=traveler.id %}" class="btn btn-primary right">Edit Traveler</a>
        </span>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-4">First name</dt>
          <dd class="col-sm-8">{{traveler.first_name}}</dd>
          <dt class="col-sm-4">Last name</dt>
          <dd class="col-sm-8">{{traveler.last_name}}</dd>
          <dt class="col-sm-4">Date of birth</dt>
          <dd class="col-sm-8">{{traveler.date_of_birth}}</dd>
          <dt class="col-sm-4">Department</dt>
          <dd class="col-sm-8">{{traveler.department}}</dd>
          <dt class="col-sm-4">Type of traveler</dt>
          <dd class="col-sm-8">{{traveler.type_of_traveler}}</dd>
          <dt class="col-sm-4">Nationality</dt>
          <dd class="col-sm-8">{{traveler.nationality}}</dd>
          <dt class="col-sm-4">Is dependant of</dt>
          <dd class="col-sm-8">{{traveler.is_dependant_of}}</dd>
          <dt class="col-sm-4">Country of duty</dt>
          <dd class="col-sm-8">{{traveler.country_of_duty}}</dd>
          <dt class="col-sm-4">Contact telephone</dt>
          <dd class="col-sm-8">{{traveler.contact_telephone}}</dd>
          <dt class="col-sm-4">Contact email</dt>
          <dd class="col-sm-8">{{traveler.contact_email}}</dd>
          <dt class="col-sm-4">Line manager</dt>
          <dd class="col-sm-8">{{traveler.is_managed_by}}</dd>
        </dl>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>

{% endblock content %}